@{
    ViewBag.Title = "Upload";
}

<div class="card mb-5">
    <div class="card-block">
        <h4 class="card-title">Upload</h4>

        <div class="upload-drop-zone" id="drop-zone">
            Drag and drop files here
        </div>

        <p class="card-text">Oder wählen Sie Dateien von Ihrem Computer</p>

        <a href="#" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Hochladen</a>

        <div class="progress mt-3 mb-3">
            <div class="progress-bar bg-info" role="progressbar" style="width: 75%"></div>
        </div>

        <div class="js-upload-finished mb-3">
            <p class="card-text">Hochgeladene Dateien:</p>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>Verlauf_Strom_Spannung.csv</a>
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>Zelle_2_Laden.CSV</a>
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>ImpedanceSpectroscopy_0.mat</a>
            </div>
        </div>
    </div>
</div>

<label class="custom-file">
            <input type="file" id="file" class="custom-file-input">
            <span class="custom-file-control" data-content="Choose file..."></span>
        </label>

<label class="custom-file d-block">
            <input data-toggle="custom-file" data-target="#company-logo" type="file" name="company_logo" accept="text.csv" class="custom-file-input">
            <span id="company-logo" class="custom-file-control custom-file-name" data-content="Datei auswählen..."></span>
          </label>

<form id="js-upload-form" method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
    <div class="form-inline">
        <div class="form-group">
            <input type="file" name="files" id="js-upload-files" multiple>
        </div>
        <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
    </div>
</form>

       