@model IEnumerable<string>

<div class="row mb-3">
    <div class="list-group">
        <a class="list-group-item list-group-item-action justify-content-between" asp-action="List" asp-controller="Record" asp-route-category=""
            asp-route-page="1">
            Alle Datensätze
            <span class="badge badge-default badge-pill">@ViewBag.Count</span>
        </a>

        @{int index = 0;}
        @foreach (string category in Model) {
            <a class="list-group-item list-group-item-action justify-content-between @(category == ViewBag.SelectedCategory ? "active": "")"
                asp-controller="Record" asp-action="List"
                asp-route-category="@category" asp-route-page="1">
                @category
                <span class="badge badge-default badge-pill">@ViewBag.Badges[index]</span>
            </a>
            index++;
        }
    </div>
</div>