<!-- Modal Core -->
<div class="modal fade show" bsModal #measurementModal="bs-modal" [config]="{backdrop: 'true', animated: 'true'}" tabindex="-1"
    role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="measurementModal.hide()">&times;</button>
                <h4 class="modal-title">Löschen</h4>
            </div>
            <div class="modal-body">
                Wollen Sie die Messung wirklich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" (click)="measurementModal.hide()">Abbrechen</button>
                <button type="button" class="btn btn-danger btn-simple" (click)="measurementModal.hide(); deleteMeasurement(selectedMeasurement)"><i class="fa fa-trash-o"></i> Löschen</button>
            </div>
        </div>
    </div>
</div>


<h4>Messungen <span class="badge badge-info badge-pill align-middle">{{measurements.length}}</span></h4>

<hr/>

<div class="card-block">

    <div *ngIf="measurements.length" class="measurements table-responsive mb-3">

        <div *ngIf="timeseriesMeasurements.length" class="measurements table-responsive my-3">
            <h5>Zeitreihen <span class="badge badge-info badge-pill align-middle">{{timeseriesMeasurements.length}}</span></h5>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th width="30%">Name</th>
                        <th>Typ</th>
                        <th>Größe</th>
                        <th>Geändert</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let timeseriesMeasurement of timeseriesMeasurements | paginate: configTimeseries" (click)="detailsMeasurement(timeseriesMeasurement.id)">
                        <td><strong>{{timeseriesMeasurement.id}}</strong></td>
                        <td>{{timeseriesMeasurement.name}}</td>
                        <td>
                            <span class="badge badge-warning">{{MeasurementType[timeseriesMeasurement.measurementType]}}</span>
                        </td>
                        <td>{{timeseriesMeasurement.fileSize/1024/1024 | number:'.2' }} MB</td>
                        <td>{{timeseriesMeasurement.modified | date:'mediumDate' }}</td>
                        <td nowrap>
                            <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="plotTimeseries(timeseriesMeasurement); $event.stopPropagation()"><i class="fa fa-line-chart"></i></button>
                            <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="editMeasurement(timeseriesMeasurement.id); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-danger btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="selectMeasurement(timeseriesMeasurement); measurementModal.show(); $event.stopPropagation()"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <pagination-template #p="paginationApi" [id]="configTimeseries.id" (pageChange)="configTimeseries.currentPage = $event">
                        <div class="d-flex justify-content-center" *ngIf="p.pages.length > 1">
                            <ul class="pagination pagination-primary">
                                <li class="page-item arrow-margin-left" [class.disabled]="p.isFirstPage()">
                                    <a class="page-link" (click)="p.previous()">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                                </li>

                                <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
                                    <a (click)="p.setCurrent(page.value)" class="page-link">{{ page.label }}</a>
                                </li>

                                <li class="page-item arrow-margin-right" [class.disabled]="p.isLastPage()">
                                    <a class="page-link" (click)="p.next()">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                                </li>
                            </ul>
                        </div>
                    </pagination-template>
                </div>
            </div>
        </div>

        <div class="col mt-3 mb-4">
            <div [chart]="timeseriesChart"></div>
        </div>

        <div *ngIf="locusMeasurements.length" class="measurements table-responsive pt-4 my-3">
            <h5>Ortskurven <span class="badge badge-info badge-pill align-middle">{{locusMeasurements.length}}</span></h5>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th width="30%">Name</th>
                        <th>Typ</th>
                        <th>Größe</th>
                        <th>Geändert</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let locusMeasurement of locusMeasurements | paginate: configLocus" (click)="detailsMeasurement(locusMeasurement.id)">
                        <td><strong>{{locusMeasurement.id}}</strong></td>
                        <td>{{locusMeasurement.name}}</td>
                        <td>
                            <span class="badge badge-warning">{{MeasurementType[locusMeasurement.measurementType]}}</span>
                        </td>
                        <td>{{locusMeasurement.fileSize/1024/1024 | number:'.2' }} MB</td>
                        <td>{{locusMeasurement.modified | date:'mediumDate' }}</td>
                        <td nowrap>
                            <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="plotLocus(locusMeasurement); $event.stopPropagation()"><i class="fa fa-line-chart"></i></button>
                            <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="editMeasurement(locusMeasurement.id); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-danger btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="selectMeasurement(locusMeasurement); measurementModal.show(); $event.stopPropagation()"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <pagination-template #p="paginationApi" [id]="configLocus.id" (pageChange)="configLocus.currentPage = $event">
                        <div class="d-flex justify-content-center" *ngIf="p.pages.length > 1">
                            <ul class="pagination pagination-primary">
                                <li class="page-item arrow-margin-left" [class.disabled]="p.isFirstPage()">
                                    <a class="page-link" (click)="p.previous()">
                                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                            </a>
                                </li>

                                <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
                                    <a (click)="p.setCurrent(page.value)" class="page-link">{{ page.label }}</a>
                                </li>

                                <li class="page-item arrow-margin-right" [class.disabled]="p.isLastPage()">
                                    <a class="page-link" (click)="p.next()">
                                <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </a>
                                </li>
                            </ul>
                        </div>
                    </pagination-template>
                </div>
            </div>
        </div>

        <div class="col mt-3 mb-4">
            <div [chart]="locusChart"></div>
        </div>

        <div *ngIf="otherMeasurements.length" class="measurements table-responsive my-3">
            <h5>Sonstige <span class="badge badge-info badge-pill align-middle">{{otherMeasurements.length}}</span></h5>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th width="30%">Name</th>
                        <th>Typ</th>
                        <th>Größe</th>
                        <th>Geändert</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let otherMeasurement of otherMeasurements" (click)="detailsMeasurement(otherMeasurement.id)">
                        <td><strong>{{otherMeasurement.id}}</strong></td>
                        <td>{{otherMeasurement.name}}</td>
                        <td>
                            <span class="badge badge-warning">{{MeasurementType[otherMeasurements.measurementType]}}</span>
                        </td>
                        <td>{{otherMeasurement.fileSize/1024/1024 | number:'.2' }} MB</td>
                        <td>{{otherMeasurement.modified | date:'mediumDate' }}</td>
                        <td nowrap>
                            <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="editMeasurement(otherMeasurement.id); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-danger btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="selectMeasurement(otherMeasurement); measurementModal.show(); $event.stopPropagation()"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="undefinedMeasurements.length" class="measurements table-responsive my-3">
            <h5>Undefiniert <span class="badge badge-info badge-pill align-middle">{{undefinedMeasurements.length}}</span></h5>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th width="30%">Name</th>
                        <th>Typ</th>
                        <th>Größe</th>
                        <th>Geändert</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let undefinedMeasurement of undefinedMeasurements" (click)="detailsMeasurement(undefinedMeasurement.id)">
                        <td><strong>{{undefinedMeasurement.id}}</strong></td>
                        <td>{{undefinedMeasurement.name}}</td>
                        <td>
                            <span class="badge badge-warning">{{MeasurementType[undefinedMeasurement.measurementType]}}</span>
                        </td>
                        <td>{{undefinedMeasurement.fileSize/1024/1024 | number:'.2' }} MB</td>
                        <td>{{undefinedMeasurement.modified | date:'mediumDate' }}</td>
                        <td nowrap>
                            <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="editMeasurement(undefinedMeasurement.id); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-danger btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="selectMeasurement(undefinedMeasurement); measurementModal.show(); $event.stopPropagation()"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="!measurements.length">
        <div class="mb-4">
            <i class="fa fa-info"></i> Es sind keine Messungen für dieses System vorhanden.
        </div>

        <div class="mt-3 mb-3">
            <button class="btn btn-primary btn-simple" (click)="addMeasurement(); $event.stopPropagation()"><i class="fa fa-plus"></i> Messung hinzufügen</button>
        </div>
    </div>
</div>