<div class="row">
    <div class="col-lg-3">
        <div class="row mb-5">
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0 mb-3">
                <div class="input-group form-group-no-border">
                    <input type="text" class="form-control" placeholder="Suche" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()">
                    <span class="input-group-addon">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </span>
                </div>
            </div>

            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0 mb-3">
                <div class="list-group">
                    <a *ngFor="let list of lists; let i = index" class="list-group-item list-group-item-action justify-content-between" (click)="loadComponent(i)"
                        [class.active]="selectedListIndex === i">
                    {{ list.data.navName }}
                    <span class="badge badge-default badge-pill">{{ counts[i] }}</span>
                     </a>
                </div>
            </div>

            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0">
                <button class="btn btn-primary btn-block" (click)="addItem()"><i class="fa fa-plus"></i> {{ selectedList.data.newName }}</button>
            </div>
        </div>
    </div>

    <div class="col-lg-9 mb-5">

        <ng-template list-host></ng-template>

    </div>
</div>