<div class="row">
    <div class="col-md-3">
        <div  class="col-md-12">

            <div class="row mb-3">
                <div class="input-group form-group-no-border">
                    <input type="text" class="form-control" placeholder="Suche">
                    <span class="input-group-addon">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                    </span>
                </div>
            </div>

            <nav-menu></nav-menu>

            <div class="row mb-5">
                <button class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Neuer Stack</button>
            </div>
        </div>
    </div>

    <div class="col-md-9 mb-5">
        <stack-summary></stack-summary>

        <div class="justify-content-center">
            <ul class="pagination pagination-primary">
                <li class="page-item arrow-margin-left">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                    </a>
                </li>


                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>



                <li class="page-item arrow-margin-right">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>