@model RecordsListViewModel
    
<div class="row">
    <div class="col-md-3 m-b-40">
        <div id="categories" class="col-md-12">
            @await Component.InvokeAsync("NavigationMenu")

            <div class="row">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                    <input type="text" class="form-control" placeholder="Suche...">
                </div>
            </div>

            <div class="row m-t-20">
                <a asp-controller="Record" asp-action="Create" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Datensatz hinzufügen</a>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        @foreach (var rec in Model.Records){
            @Html.Partial("RecordSummary", rec)
        }

        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true" page-class="btn" page-class-normal="btn-default"
            page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right"> 
        </div>
    </div>
</div>