@model RecordsListViewModel
    
@{
    ViewBag.Title = "Datenbank";
}

<div class="row">
    <div class="col-md-3">
        <div id="categories" class="col-md-12">
            
            <div class="row mb-3">
                <label class="sr-only" for="inlineFormInputGroup">Suche</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Suche">
                </div>
            </div>

            @await Component.InvokeAsync("NavigationMenu")

            <div class="row mb-5">
                <a asp-controller="Record" asp-action="Create" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Neuer Eintrag</a>
            </div>

        </div>
    </div>

    <div class="col-md-9">
        @foreach (var rec in Model.Records){
            @Html.Partial("RecordSummary", rec)
        }

        <nav>
            <ul class="pagination justify-content-end" page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                page-class="page-item" page-class-normal="" page-class-selected="active" page-url-category="@Model.CurrentCategory">
            </ul>
        </nav>

    </div>
</div>