<div class="card mb-5">
    <div class="card-header d-flex justify-content-between">
        Stack ID: 
        <span class="badge badge-info badge-pill">Reihenschaltung</span>
        <span class="badge badge-default badge-pill">2 Zellen</span>
    </div>

    <div class="card-block">
        <h5 class="card-title">Name</h5>

        <p>Markdown Description</p>

        <dropdown-split></dropdown-split>
    </div>

    <div class="card-footer text-muted d-flex justify-content-between">
        <span><small><i class="fa fa-table"></i>  Erstellt: <br /> Creation.ToString("dd MMMM yyyy") <br /> Creation.ToString("hh:mm") Uhr</small></span>
        <span><small><i class="fa fa-table"></i>  Geändert: <br /> Modification.ToString("dd MMMM yyyy") <br /> Modification.ToString("hh:mm") Uhr</small></span>
    </div>
</div>