.selected {
  background-color: #CFD8DC !important;
  border: 5px;
  border-color: blue;
}

.users card:hover {
  color: #607D8B;
  background-color: #DDD;
  left: 10px;
}

.users card.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}