<div class="card mb-5">
  <div class="card-header d-flex justify-content-between">
    Zellen ID: {{cell.id}}
    <span class="badge badge-info badge-pill">{{measurementCount}} Messungen</span>
  </div>

  <div class="card-block">
    <h5 class="card-title">{{cell.name}}</h5>

    <div markdown-to-html [data]="cell.description"></div>

    <div class="mb-4">
      <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="plotCell(cell.id); $event.stopPropagation()"><i class="fa fa-line-chart"></i></button>
      <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="editCell(cell.id); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
      <button type="button" class="btn btn-danger btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="cellModal.show(); $event.stopPropagation()"><i class="fa fa-trash-o"></i></button>
    </div>

    <hr/>

    <div class="card-block">
      <h3>Messungen</h3>

      <div *ngIf="cell.measurements.length" class="measurements table-responsive mb-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Typ</th>
              <th>Größe</th>
              <th>Geändert</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let measurement of cell.measurements" (click)="detailsMeasurement(measurement.id)">
              <td><strong>{{measurement.id}}</strong></td>
              <td>{{measurement.name}}</td>
              <td>
                <span class="badge badge-warning">{{MeasurementType[measurement.measurementType]}}</span>
              </td>
              <td>{{measurement.fileSize/1024/1024 | number:'.2' }} MB</td>
              <td>{{measurement.modified | date:'mediumDate' }}</td>
              <td nowrap>
                <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="plotMeasurement(measurement); $event.stopPropagation()"><i class="fa fa-line-chart"></i></button>
                <button type="button" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="editMeasurement(measurement.id); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="selectMeasurement(measurement); measurementModal.show(); $event.stopPropagation()"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div [chart]="chart"></div>

      <div *ngIf="!cell.measurements.length">
        <div class="mb-4">
          <i class="fa fa-info"></i> Es sind keine Messungen für diese Zelle vorhanden.
        </div>

        <div class="mt-3 mb-3">
          <button class="btn btn-primary btn-simple" (click)="addMeasurement(cell.id); $event.stopPropagation()"><i class="fa fa-plus"></i> Messung hinzufügen</button>
        </div>
      </div>

    </div>

  </div>

  <div class="card-footer text-muted d-flex justify-content-between">
    <span><small><i class="fa fa-table"></i>  Erstellt: {{cell.created | date:'mediumDate' }}, {{cell.created | date:'shortTime' }}</small></span>
    <span><small><i class="fa fa-table"></i>  Geändert: {{cell.modified | date:'mediumDate' }}, {{cell.modified | date:'shortTime' }}</small></span>
  </div>
</div>

<!-- Modal Core -->
<div class="modal fade show" bsModal #cellModal="bs-modal" [config]="{backdrop: 'true', animated: 'true'}" tabindex="-1"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cellModal.hide()">&times;</button>
        <h4 class="modal-title">Löschen</h4>
      </div>
      <div class="modal-body">
        Wollen Sie die Zelle wirklich löschen?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" (click)="cellModal.hide()">Abbrechen</button>
        <button type="button" class="btn btn-danger btn-simple" (click)="cellModal.hide(); deleteCell()"><i class="fa fa-trash-o"></i> Löschen</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Core -->
<div class="modal fade show" bsModal #measurementModal="bs-modal" [config]="{backdrop: 'true', animated: 'true'}" tabindex="-1"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="measurementModal.hide()">&times;</button>
        <h4 class="modal-title">Löschen</h4>
      </div>
      <div class="modal-body">
        Wollen Sie die Messung wirklich löschen?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" (click)="measurementModal.hide()">Abbrechen</button>
        <button type="button" class="btn btn-danger btn-simple" (click)="measurementModal.hide(); deleteMeasurement()"><i class="fa fa-trash-o"></i> Löschen</button>
      </div>
    </div>
  </div>
</div>