<div class="card mb-5">
  <div class="card-header">
    Zellen ID: {{cell.id}}
  </div>

  <div class="card-block">
    <h3 class="card-title">{{cell.name}}</h3>

    <hr/>

    <div markdown-to-html [data]="cell.description"></div>

    <div class="mb-5">
      <button type="button" tooltip="Tooltip" class="btn btn-primary btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="editCell(cell.id); $event.stopPropagation()"><i class="fa fa-pencil"></i></button>
      <button type="button" class="btn btn-danger btn-simple btn-round btn-icon btn-icon-mini mr-1" (click)="cellModal.show(); $event.stopPropagation()"><i class="fa fa-trash-o"></i></button>
    </div>

    <measurement-grouped-list [measurements]="measurements"></measurement-grouped-list>
  </div>

  <div class="card-footer text-muted d-flex justify-content-between">
    <span><small><i class="fa fa-table"></i>  Erstellt: {{cell.created | date:'mediumDate' }}, {{cell.created | date:'shortTime' }}</small></span>
    <span><small><i class="fa fa-table"></i>  Geändert: {{cell.modified | date:'mediumDate' }}, {{cell.modified | date:'shortTime' }}</small></span>
  </div>
</div>

<!-- Modal Core -->
<div class="modal fade show" bsModal #cellModal="bs-modal" [config]="{backdrop: 'true', animated: 'true'}" tabindex="-1"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cellModal.hide()">&times;</button>
        <h4 class="modal-title">Löschen</h4>
      </div>
      <div class="modal-body">
        Wollen Sie die Zelle wirklich löschen?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" (click)="cellModal.hide()">Abbrechen</button>
        <button type="button" class="btn btn-danger btn-simple" (click)="cellModal.hide(); deleteCell()"><i class="fa fa-trash-o"></i> Löschen</button>
      </div>
    </div>
  </div>
</div>