<div class="stacks">
    <div class="card mb-5" *ngFor="let stack of stacks | filter:searchTerm | paginate: config" (click)="details(stack.id)">
        <div class="card-header d-flex justify-content-between">
            Stack ID: {{stack.id}}
            <span class="badge badge-info badge-pill">{{CircuitType[stack.circuitType]}}</span>
            <span class="badge badge-default badge-pill">{{stack.cellCount}} Zellen</span>
        </div>

        <div class="card-block">
            <h5 class="card-title">{{stack.name}}</h5>

            <div>
                <markdown-to-html [data]="stack.description"></markdown-to-html>
            </div>

            <button type="button" class="btn btn-danger" (click)="delete(stack); $event.stopPropagation()"><i class="fa fa-trash-o"></i> Löschen</button>
        </div>

        <div class="card-footer text-muted d-flex justify-content-between">
            <span><small><i class="fa fa-table"></i>  Erstellt am {{stack.created | date:'mediumDate' }} um {{stack.created | date:'shortTime' }} Uhr</small></span>
            <span><small><i class="fa fa-table"></i>  Geändert am {{stack.modified | date:'mediumDate' }} um {{stack.modified | date:'shortTime' }} Uhr</small></span>
        </div>
    </div>
</div>

<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">

    <div class="d-flex justify-content-center" *ngIf="p.pages.length > 1">
        <ul class="pagination pagination-primary">
            <li class="page-item arrow-margin-left" [class.disabled]="p.isFirstPage()">
                <a class="page-link" (click)="p.previous()">
                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </a>
            </li>

            <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
                <a (click)="p.setCurrent(page.value)" class="page-link">{{ page.label }}</a>
            </li>

            <li class="page-item arrow-margin-right" [class.disabled]="p.isLastPage()">
                <a class="page-link" (click)="p.next()">
                <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </a>
            </li>
        </ul>
    </div>

</pagination-template>