<div class="card mb-5">
  <div class="card-header d-flex justify-content-between">
    Stack ID: {{stack.id}}
    <span class="badge badge-info badge-pill">{{CircuitType[stack.circuitType]}}</span>
    <span class="badge badge-default badge-pill">{{cells.length}} Zellen</span>
  </div>

  <div class="card-block">
    <h5 class="card-title">{{stack.name}}</h5>

    <div markdown-to-html [data]="stack.description"></div>

    <div class="btn-group mb-3" dropdown>
      <button type="button" class="btn btn-secondary" (click)="edit(stack.id); $event.stopPropagation()"><i class="fa fa-pencil"></i> Bearbeiten</button>
      <button type="button" class="btn btn-danger" (click)="delete(stack); $event.stopPropagation()"><i class="fa fa-trash-o"></i> Löschen</button>
    </div>

    <hr/>

    <div class="card-block">
      <h3>Zellen</h3>

      <!-- Nav tabs -->
      <tabset>
        <tab *ngFor="let cell of cells; let idx = index" [heading]="idx + 1" [active]="cell.active" (select)="cell.active = true">
          <div class="media mt-2 mb-4">
            <div class="media-body">
              <h5 class="mt-2 mb-3">{{cell?.name}}</h5>

              {{cell?.description}}
            </div>
            <img class="d-flex align-self-center ml-3 rounded img-raised" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22100%22%20height%3D%22100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15c656d1ef9%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15c656d1ef9%22%3E%3Crect%20width%3D%22100%22%20height%3D%22100%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.6015625%22%20y%3D%2236.6546875%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Image">
          </div>

          <div class="btn-group mb-3" role="group">
            <button type="button" class="btn btn-secondary"><i class="fa fa-line-chart"></i> Plot</button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-info"></i> Mehr</button>
          </div>
        </tab>
      </tabset>

      <div *ngIf="!cells.length" class="mb-4">
        <i class="fa fa-info"></i> Es sind keine Zellen für diesen Stack vorhanden.
      </div>

      <div class="mb-3">
        <button class="btn btn-primary"><i class="fa fa-plus"></i> Zelle hinzufügen</button>
      </div>

    </div>

  </div>

  <div class="card-footer text-muted d-flex justify-content-between">
    <span><small><i class="fa fa-table"></i>  Erstellt am {{stack.created | date:'mediumDate' }} um {{stack.created | date:'shortTime' }} Uhr</small></span>
    <span><small><i class="fa fa-table"></i>  Geändert am {{stack.modified | date:'mediumDate' }} um {{stack.modified | date:'shortTime' }} Uhr</small></span>
  </div>

</div>