@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Hallo, Welt!</h1>
        <p class="lead">Hier entsteht eine Messdatenvisualisierung für Zink-Luft-Akkumulatoren ...</p>
        <p>
            <a class="btn btn-primary" href="https://www.fh-muenster.de/fb2/downloads/personen/professoren/gloesekoetter/Zink_Luft_Poster_neu.pdf"
                target="_blank" role="button"><i class="fa fa-info"></i> Weitere Informationen</a>
        </p>
    </div>
</div>