<div class="jumbotron">
    <h1>Hallo, Welt!</h1>
    <p>Hier entsteht eine Messdatenvisualisierung für Zink-Luft-Akkumulatoren ...</p>
    <p><a class="btn btn-primary btn-lg" href="https://www.fh-muenster.de/fb2/downloads/personen/professoren/gloesekoetter/Zink_Luft_Poster_neu.pdf" role="button">Erfahren Sie mehr!</a></p>
</div>
