<div class="jumbotron">
    <h1>Hallo, Welt!</h1>
    <p>Hier entsteht eine Messdatenvisualisierung für Zink-Luft-Batterien ...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Erfahre mehr</a></p>
</div>
